body{
    font-family: 'Sans', 'Verdana';
}

td{
    vertical-align:top;
}




table{
    width: 100%;
}

tr.even td{
    background-color: lightblue;
    border-bottom: 2px solid black;
}
tr.even td table td.even, tr.even td table td{
    border-bottom: none;
}
td.even{
    background-color: lightgrey;
}
